<footer aria-labelledby="footer-heading">
	<div class="mx-auto max-w-7xl px-6 pb-8 pt-20 sm:pt-24 lg:px-8 lg:pt-32">
		<div class="flex flex-row gap-8 justify-between items-start flex-wrap">
			<!-- Footer Categories Component -->
			<app-footer-categories></app-footer-categories>

			<!-- Footer Subscribe Component -->
			<app-footer-subscribe></app-footer-subscribe>
		</div>
		<div
			class="flex flex-col justify-center items-center gap-2 mt-10 border-t border-white pt-8 sm:flex-row sm:mt-14 md:flex md:items-center sm:justify-between lg:mt-20"
		>
			<p class="mt-8 text-xs leading-5 md:mt-0">
				© 2024 André Filipe, Todos os direitos reservados.
			</p>
			<!-- Social Media Components -->
			<app-social-media></app-social-media>
		</div>
	</div>
</footer>
