<nav
	[ngClass]="{
		'opacity-80 scale-95 rounded-md': navbarOpacity,
		'opacity-100': !navbarOpacity
	}"
	class="shadow-lg sticky top-0 z-50 transition duration-400 hover:opacity-100"
>
	<div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
		<div class="relative flex h-20 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center md:hidden">
				<button
					type="button"
					class="w-14 h-14 relative inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-pink-900 focus:bg-pink-950"
					aria-controls="mobile-menu"
					aria-expanded="false"
					(click)="toggleSidebar()"
				>
					<svg
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true"
						[class.hidden]="!isSidebarOpen"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
						/>
					</svg>

					<svg
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true"
						[class.hidden]="isSidebarOpen"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M6 18L18 6M6 6l12 12"
						/>
					</svg>
				</button>
			</div>
			<div
				class="flex flex-1 items-center justify-center md:items-stretch md:justify-start"
			>
				<div class="flex flex-shrink-0 items-center">
					<a href="#home">
						<img
							class="h-16 w-auto"
							src="../../../assets/images/logo-w.png"
							alt="Logo b Blog"
						/>
					</a>
				</div>
				<div class="hidden md:ml-6 md:flex w-full justify-center">
					<app-navbar-menu layout="row"></app-navbar-menu>
				</div>
			</div>
			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0"
			>
				<button
					type="button"
					class="relative inline-flex items-center justify-center rounded-md text-white hover:bg-pink-900 focus:bg-pink-950"
				>
					<span
						class="w-14 h-14 flex justify-center items-center p-4 cursor-pointer"
						><i class="gg-mail"></i
					></span>
				</button>
				<button
					type="button"
					class="relative inline-flex items-center justify-center rounded-md text-white hover:bg-pink-900 focus:bg-pink-950"
				>
					<span
						class="w-14 h-14 flex justify-center items-center p-4 cursor-pointer"
						><i class="gg-sun"></i
					></span>
				</button>
				<button
					type="button"
					class="relative inline-flex items-center justify-center rounded-md text-white hover:bg-pink-900 focus:bg-pink-950"
				>
					<span
						class="w-14 h-14 flex justify-center items-center p-4 cursor-pointer"
						><i class="gg-search"></i
					></span>
				</button>
			</div>
		</div>
	</div>

	<div class="md:hidden" id="mobile-menu" [class.hidden]="isSidebarOpen">
		<app-navbar-menu layout="column" class="text-base"></app-navbar-menu>
		<div class="px-2 py-8 mx-8 border-t">
			<app-social-media></app-social-media>
		</div>
	</div>
</nav>
