<div
	[ngClass]="{
		'container-row': containerLayout === 'row',
		'container-column': containerLayout === 'column'
	}"
>
	<div class="my-3 sm:m-3" *ngFor="let card of cards; let i = index">
		<a
			[href]="card.route"
			[ngClass]="{
				'card-row': cardLayout === 'row',
				'card-column': cardLayout === 'column'
			}"
		>
			<div class="w-full relative shadow-md mr-2">
				<div
					class="card__img absolute flex justify-center items-center rounded-md w-full h-full text-4xl font-bold text-white opacity-0 hover:opacity-100 transition-all duration-300 ease-in"
				>
					<span> {{ (i + 1).toString().padStart(2, "0") }} </span>
				</div>
				<div>
					<img
						src="{{ card.image }}"
						alt="{{ card.label }}"
						class="rounded-md w-full h-72 object-cover"
					/>
				</div>
			</div>
			<div class="mt-2">
				<span
					class="text-xs font-semibold py-1 px-2 rounded-md bg-emerald-700 text-white uppercase"
				>
					{{ card.topic }}
				</span>
			</div>
			<div class="flex flex-col w-72">
				<h3 class="text-xl font-bold text-white pt-4 pb-2">
					{{ card.title }}
				</h3>
				<span class="text-xs text-gray-300">{{ card.info }}</span>
			</div>
		</a>
	</div>
</div>
